@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {

  :root {

    /* 
    
    white: 0 0% 100%;
    black: 240 10% 3.9%;
    pink: 346.8 77.2% 49.8%;
    light-pink: 355.7 100% 97.3%;
    gray: 240 5.9% 90%;
    light-gray: 240 4.8% 95.9%;
    red: 0 84.2% 60.2%;

    */


    --background: 0 0% 100%;                       /* White */
    --foreground: 240 10% 3.9%;                    /* Black */
    --card: 0 0% 100%;                             /* White */
    --card-foreground: 240 10% 3.9%;               /* Black */
    --popover: 0 0% 100%;                          /* White */
    --popover-foreground: 240 10% 3.9%;            /* Black */
    --primary: 346.8 77.2% 49.8%;                  /* Pink */  
    --primary-foreground: 355.7 100% 93%;        /* Light Pink */
    --secondary: 240 4.8% 95.9%;                   /* Light Gray */
    --secondary-foreground: 240 10% 3.9%;          /* Black */
    --muted: 240 4.8% 95.9%;                       /* Light Gray */
    --muted-foreground: 240 5.9% 70%;              /* Gray */
    --accent: 240 4.8% 95.9%;                      /* Light Gray */
    --accent-foreground: 240 10% 3.9%;             /* Black */
    --destructive: 0 84.2% 60.2%;                  /* Red */
    --destructive-foreground: 0 0% 100%;           /* White */
    --border: 240 5.9% 90%;                        /* Gray  */
    --input: 240 5.9% 70%;                         /* Gray */
    --ring: 346.8 77.2% 49.8%;                     /* Pink */
    --radius: 0.5rem;     
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}